@use '../styles/variables' as *;

.app-layout.ant-layout {
  min-height: 100vh;
  background: transparent;
}

.app-footer.ant-layout-footer {
  text-align: center;
  color: #4f5d75;
  background: transparent;
  padding-top: 4px;
}
